.select {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.8);
	&:focus {
		outline: none;
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
		color: rgba(0, 0, 0);
		background-color: rgba(245, 245, 245, 0.9);
	}
}
